form {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    display: block;
    text-align: center;
  }
  input {
    padding: .5rem 1rem;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 1rem 0;
  }
  input[type="submit"] {
    cursor: pointer;
  }
  .radioButtons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }

  //Errors
  .errorSpan {
    color: rgb(209, 29, 29);
    margin-top: -.5rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    font-size: 14px;
    background-color: rgba(209, 29, 29, 0.1);
    border: 2px solid rgb(209, 29, 29);
    border-radius: 10px;
  }
  .errorInput {
    border: 2px solid rgb(209, 29, 29);
  }
}
