nav {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  margin: 0;
  justify-content: center;
  gap: 1rem;
  align-items: center;

    a {
      padding: 1rem 2rem;
      cursor: pointer;
      text-decoration: none;
      color: white;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
