nav {
  width: 100%;
  background-color: black;
  color: white;

  ul {
    display: flex;
    margin: 0;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;

    li {
      padding: 1rem 2rem;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
